
<div class="container-fluid" id="grid">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form [formGroup]="FormLogin" (submit)="OnSubmit()">
      <mat-card class="FullCard">
        <mat-card-header>
          <mat-card-title>Ingresar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="controls-container">
            <mat-form-field class="form-field">
              <input matInput placeholder="Correo electronico" formControlName="Email" type="email" required>
              <!-- <mat-hint>{{EmairrorMessalEge}}</mat-hint> -->
              <mat-error *ngIf="FormLogin.controls.Email.hasError('required')">
                Su correo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput placeholder="Contraseña" formControlName="Password" [type]="hide ? 'password' : 'text'"
              required>
              <mat-hint>{{PasswordErrorMessage}}</mat-hint>
              <mat-error *ngIf="FormLogin.controls.Password.hasError('required')">
                Su contraseña es<strong> obligatoria</strong>
              </mat-error>
              <mat-error *ngIf="FormLogin.controls.Password.hasError('minlength')">
                Su contraseña deberia contener <strong>un mínimo de 6</strong> caracteres.
              </mat-error>
              <mat-icon matSuffix mat-icon-button (click)="hide = !hide" style="cursor: pointer;">
                <span *ngIf="hide"><i class="fal fa-eye-slash"></i></span>
                <span *ngIf="!hide"><i class="fal fa-eye"></i></span>
              </mat-icon>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions class="link">

          <button mat-raised-button [disabled]="FormLogin.pristine || FormLogin.invalid" type="submit" class="btn_ingresar">
            <span *ngIf="!Loading">Ingresar</span>
            <span *ngIf="Loading" style="margin:0 10px;"><i class="fal fa-spinner fa-spin"></i></span>
          </button>

           <h6 class="link_recuperar">Olvide mi contraseña <a [routerLink]="['/Auth/recuperar']" >Recuperar</a></h6>
           
           <h6 class="link_register">¿Eres nuevo? <a [routerLink]="[ '/Auth/Register']">hace click</a> y registrate!</h6>

          <!-- <button mat-raised-button [routerLink]="[ '/Register']" color="primary">Register</button> -->
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>