.about-user-container {
    background: #efe7ff;; 
    color: #5c4ca2;
}

.controls-container{
    width: 100%;
    background: #5c4ca2;
    color: white;
    text-align: right;
    
} 

.row {
    padding: 15px;
    text-align: left;
}

.form-align {
    display: flex;
    align-items: center;
}


