.about-user-container {
    background: #f4f2f5; 
    color: black;
}

.controls-container{
    width: 100%;
    background: red;
    color: black;
    text-align: right;
    
} 

.row {
    padding: 15px;
    text-align: left;
}

.form-align {
    display: flex;
    align-items: center;
}


