<div class="container-fluid" id="grid">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <!-- <form class="example-form" [formGroup]="FormRegister" (submit)="OnSubmit()"> -->
    <mat-card class="FullCard">
      <mat-card-header>
        <mat-card-title>Registrarse</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group (selectedTabChange)="cambiarEstado($event)">
          <mat-tab label="Soy usuario" (model)="isUsuario">
            <form class="example-form" [formGroup]="FormRegisterUsuario">
              <div class="controls-container">

                <form [formGroup]="UpdatePPForm" (submit)="OnSubmit()">
                  <div mat-dialog-content >
                    <input type="file" style="display:none;"formControlName="InputImage" accept="image/*" #InputFile
                      (change)="onChange($event)" required>
                    <!-- <mat-form-field>
                      <input matInput formControlName="ProfileCaption" autofocus placeholder="Título de tu publicación">
                    </mat-form-field> -->
                    <button mat-icon-button type="button" (click)="InputFile.click()">
                      <i class="fa fa-user-circle fa-lg"></i>
                    </button>
                    <div>
                      <img src="{{OutputImage.compressedImage.imageDataUrl}}" width="100px" height="100px" *ngIf="showImage" class="responsive-img" />
                    </div>
                  </div>
                  <div mat-dialog-actions>
                    <mat-progress-bar *ngIf="Uploading" mode="determinate" [value]="(uploadPercent$ | async)">
                    </mat-progress-bar>
                    <button mat-raised-button type="reset" (click)="onNoClick()">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!UpdatePPForm.valid || !processingImageComplete"
                      [attr.cdkFocusInitial]="processingImageComplete ? '' : null">Actualizar</button>
                  </div>
                </form>
                <!-- <div mat-dialog-content>
                  <input type="file" style="display:none;" formControlName="InputImage" accept="image/*" #InputFile
                    (change)="onChange($event)" required>
                  <mat-form-field>
                    <input matInput formControlName="ProfileCaption" autofocus placeholder="Título de tu publicación">
                  </mat-form-field>
                  <button mat-icon-button type="button" (click)="InputFile.click()">
                    <i class="fal fa-paperclip fa-lg"></i>
                  </button>
                  <div>
                    <img src="{{OutputImage.compressedImage.imageDataUrl}}" *ngIf="showImage" class="responsive-img" />
                  </div>
                </div> -->
<!-- <app-profile-pic-update-dialog></app-profile-pic-update-dialog> -->
                <!-- <element-user-photo></element-user-photo> -->
                <div class="row" style="margin:0%;">
                  <div class="col-6" align=right style="margin-top: 1%;">
                    <mat-form-field appearance="fill">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select [(value)]="TipoDocumentoSeleccionado" required>
                        <mat-option value="DNI">
                          DNI
                        </mat-option>
                        <mat-option value="Pasaporte">
                          Pasaporte
                        </mat-option>
                        <!-- <mat-error *ngIf="FormRegisterUsuario.controls.TipoDocumento.hasError('required')"> //Preguntarle a tito como añadir
                          Su tipo de documento es <strong>obligatorio</strong>                                   //mensaje de error a box de opciones
                        </mat-error> -->
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6" style="margin-top:2.4%;">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Nro documento" formControlName="nroDocumento" type="text"
                        autocomplete="off" accept="nroDocumento" required>
                      <mat-error *ngIf="FormRegisterUsuario.controls.nroDocumento.hasError('required')">
                        Su número de documento es <strong>obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Nombre" formControlName="FirstName" type="text" autocomplete="off"
                        accept="FirstName" required>
                      <mat-error *ngIf="FormRegisterUsuario.controls.FirstName.hasError('required')">
                        Su nombre es <strong>obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Apellido" formControlName="LastName" type="text" autocomplete="off"
                        accept="LastName" required>
                      <mat-error *ngIf="FormRegisterUsuario.controls.LastName.hasError('required')">
                        Su apellido es<strong> obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col" align=center>
                  <mat-radio-group formControlName="Gender" class="form-field w-100">
                    <mat-radio-button value="Masculino" name="Gender">Masculino</mat-radio-button>
                    <mat-radio-button value="Femenino" name="Gender" style="margin: 0 20px;">Femenino</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="col">
                  <mat-form-field class="form-field w-100">
                    <input matInput [matDatepicker]="dp" placeholder="Fecha de Nacimiento" formControlName="DOB">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Calle" formControlName="Street" type="text" autocomplete="off"
                        accept="Street" required>
                      <mat-error *ngIf="FormRegisterUsuario.controls.Street.hasError('required')">
                        Su calle es<strong> obligatoria</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Altura" formControlName="Number" type="number" autocomplete="off"
                        accept="Number" required>
                      <mat-error *ngIf="FormRegisterUsuario.controls.Number.hasError('required')">
                        La altura de su domicilio es<strong> obligatoria</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Piso" formControlName="Floor" type="text" autocomplete="off"
                        accept="Floor">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Departamento" formControlName="Dpto" type="text" autocomplete="off"
                        accept="Dpto">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Barrio" formControlName="Neighborhood" type="text" autocomplete="off"
                        accept="Neighborhood" required>
                      <mat-error *ngIf="FormRegisterUsuario.controls.Street.hasError('required')">
                        Su barrio es<strong> obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Localidad" formControlName="City" type="text" autocomplete="off"
                        accept="City" required>
                      <mat-error *ngIf="FormRegisterUsuario.controls.City.hasError('required')">
                        La localidad es<strong> obligatoria</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col">
                  <mat-form-field class="form-field w-100">
                    <input matInput placeholder="Correo electronico" formControlName="Email" type="email" required>
                    <mat-hint>{{EmailErrorMessage}}</mat-hint>
                    <mat-error *ngIf="FormRegisterUsuario.controls.Email.hasError('email')">
                      Por favor, Ingrese un correo electronico valido
                    </mat-error>
                    <mat-error *ngIf="FormRegisterUsuario.controls.Email.hasError('required')">
                      Su correo es <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="form-field w-100">
                    <input matInput placeholder="Contraseña" formControlName="Password" type="password" required>
                    <mat-hint>{{PasswordErrorMessage}}</mat-hint>
                    <mat-error *ngIf="FormRegisterUsuario.controls.Password.hasError('required')">
                      Contraseña <strong>obligatoria</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>
            </form>
          </mat-tab>

          <mat-tab label="Soy profesional" (model)="isUsuario!">
            <form class="example-form" [formGroup]="FormRegisterProfesional">
              <div class="controls-container">

                <form [formGroup]="UpdateProProPicForm" (submit)="OnSubmit()">
                  <div mat-dialog-content >
                    <input type="file" style="display:none;"formControlName="InputImage" accept="image/*" #InputFile
                      (change)="onChange($event)" required>
                    <!-- <mat-form-field>
                      <input matInput formControlName="ProfileCaption" autofocus placeholder="Título de tu publicación">
                    </mat-form-field> -->
                    <button mat-icon-button type="button" (click)="InputFile.click()">
                      <i class="fa fa-user-circle fa-lg"></i>
                    </button>
                    <div>
                      <img src="{{OutputImage.compressedImage.imageDataUrl}}" width="100px" height="100px" *ngIf="showImage" class="responsive-img" />
                    </div>
                  </div>
                  <div mat-dialog-actions>
                    <mat-progress-bar *ngIf="Uploading" mode="determinate" [value]="(uploadPercent$ | async)">
                    </mat-progress-bar>
                    <button mat-raised-button type="reset" (click)="onNoClick()">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!UpdateProProPicForm.valid || !processingImageComplete"
                      [attr.cdkFocusInitial]="processingImageComplete ? '' : null">Actualizar</button>
                  </div>
                </form>
                <!-- aca va el codigo para la foto -->

                <div class="row" style="margin:0%;">
                  <div class="col-6" align=right style="margin-top: 1%;">
                    <mat-form-field appearance="fill">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select [(value)]="TipoDocumentoProfesionalSeleccionado" required>
                        <mat-option value="DNI">
                          DNI
                        </mat-option>
                        <mat-option value="Pasaporte">
                          Pasaporte
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6" style="margin-top:2.4%;">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Nro documento" formControlName="nroDocumento" type="text"
                        autocomplete="off" accept="nroDocumento" required>
                      <mat-error *ngIf="FormRegisterProfesional.controls.nroDocumento.hasError('required')">
                        Su número de documento es <strong>obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Nombre" formControlName="FirstName" type="text" autocomplete="off"
                        accept="FirstName" required>
                      <mat-error *ngIf="FormRegisterProfesional.controls.FirstName.hasError('required')">
                        Su nombre es <strong>obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Apellido" formControlName="LastName" type="text" autocomplete="off"
                        accept="LastName" required>
                      <mat-error *ngIf="FormRegisterProfesional.controls.LastName.hasError('required')">
                        Su apellido es<strong> obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col" align=center>
                  <mat-radio-group formControlName="Gender" class="form-field w-100">
                    <mat-radio-button value="Masculino" name="Gender">Masculino</mat-radio-button>
                    <mat-radio-button value="Femenino" name="Gender" style="margin: 0 20px;">Femenino</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="col">
                  <mat-form-field class="form-field w-100">
                    <input matInput [matDatepicker]="dpp" placeholder="Fecha de Nacimiento" formControlName="DOB">
                    <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                    <mat-datepicker #dpp></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Calle" formControlName="Street" type="text" autocomplete="off"
                        accept="Street" required>
                      <mat-error *ngIf="FormRegisterProfesional.controls.Street.hasError('required')">
                        Su calle es<strong> obligatoria</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Altura" formControlName="Number" type="number" autocomplete="off"
                        accept="Number" required>
                      <mat-error *ngIf="FormRegisterProfesional.controls.Number.hasError('required')">
                        La altura de su domicilio es<strong> necesaria</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Piso" formControlName="Floor" type="text" autocomplete="off"
                        accept="Floor">

                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Departamento" formControlName="Dpto" type="text" autocomplete="off"
                        accept="Dpto">

                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Barrio" formControlName="Neighborhood" type="text" autocomplete="off"
                        accept="Neighborhood" required>
                      <mat-error *ngIf="FormRegisterProfesional.controls.Street.hasError('required')">
                        Su barrio es<strong> obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100">
                      <input matInput placeholder="Localidad" formControlName="City" type="text" autocomplete="off"
                        accept="City" required>
                      <mat-error *ngIf="FormRegisterProfesional.controls.City.hasError('required')">
                        La localidad es<strong> obligatoria</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6">
                    <mat-form-field class="form-field w-100" style="text-align: center">
                      <input matInput placeholder="Nombre comercial/Nombre del local" formControlName="NombreComercial"
                        type="text" autocomplete="off" accept="NombreComercial">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="form-field w-100" style="text-align: center">
                      <input matInput placeholder="Número Comercial" formControlName="PhoneNumber" type="text"
                        autocomplete="off" accept="PhoneNumber">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin:0;">
                  <div class="col-6" align="right">
                    <mat-form-field appearance="fill">
                      <mat-label>Modalidad de trabajo</mat-label>
                      <mat-select [(value)]="TipoModalidadTrabajoProfesionalSeleccionado">
                        <mat-option value="Domicilio">
                          Domicilio
                        </mat-option>
                        <mat-option value="Local">
                          Local
                        </mat-option>
                        <mat-option value="Hibrido">
                          Hibrido
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3" align=right>
                    <mat-form-field appearance="fill">
                      <mat-label>Tipo de servicio</mat-label>
                      <mat-select [(value)]="TipoDeServicioSeleccionado">
                        <mat-option value="Peluqueria">
                          Peluqueria
                        </mat-option>
                        <mat-option value="Barberia">
                          Barberia
                        </mat-option>
                        <mat-option value="Manicuria">
                          Manicuria
                        </mat-option>
                        <mat-option value="Pedicuria/Podologia">
                          Pedicuria/Podologia
                        </mat-option>
                        <mat-option value="Maquillaje">
                          Maquillaje
                        </mat-option>
                        <mat-option value="Tratamientos Corporales">
                          Tratamientos Corporales
                        </mat-option>
                        <mat-option value="Depilacion">
                          Depilación
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col">
                  <mat-form-field class="form-field w-100">
                    <input matInput placeholder="Correo electronico" formControlName="Email" type="email" required>
                    <mat-hint>{{EmailErrorMessage}}</mat-hint>
                    <mat-error *ngIf="FormRegisterProfesional.controls.Email.hasError('email')">
                      Por favor, Ingrese un correo electronico valido
                    </mat-error>
                    <mat-error *ngIf="FormRegisterProfesional.controls.Email.hasError('required')">
                      Su correo es <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="form-field w-100">
                    <input matInput placeholder="Contraseña" formControlName="Password" type="password" required>
                    <mat-hint>{{PasswordErrorMessage}}</mat-hint>
                    <mat-error *ngIf="FormRegisterProfesional.controls.Password.hasError('required')">
                      Contraseña <strong>obligatoria</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>
            </form>
          </mat-tab>

        </mat-tab-group>

      </mat-card-content>
      <mat-card-actions>
        <div style="margin:0 0 15px 15px;">
          <button mat-raised-button [disabled]="isUsuario ? !FormRegisterUsuario.valid : !FormRegisterProfesional.valid"
            type="submit" color="accent" (click)="isUsuario ? OnSubmit() : OnSubmitProfesional()">
            <span *ngIf="!Loading">Registrar</span>
            <span *ngIf="Loading" style="margin:0 19px;"><i class="fal fa-spinner fa-spin"></i></span>
          </button>
          <button [routerLink]="['/Auth/Login']" color="primary" mat-button class="boton_ingresar">Ingresar</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>