  .controls-container{
    width: 100%;
  }
  .FullCard{
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.2);
  
  }
  #grid {
    background: linear-gradient(#8b73ff,#8a3788);
    padding: 80px 0;
    /*height: 100vh*/;
    /* height: calc(100% - 64px); */
  }

  .boton_ingresar{
    color: rgb(88, 3, 88);
  }
  
  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-preview {
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0; 
    margin: auto; 
    width: 150px; /* Cambia el ancho de la imagen si es necesario */
    height: 150px; /* Cambia la altura de la imagen si es necesario */
  }