  .controls-container{
    width: 100%;
  }
  .FullCard{
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.2);
  
  }
  #grid {
    background: linear-gradient(#8b73ff,#8a3788);
    padding: 80px 0;
    /*height: 100vh*/;
    /* height: calc(100% - 64px); */
  }
  