<div class="container-fluid" id="grid">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form class="example-form" [formGroup]="FormRegister" (submit)="OnSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Registrarse</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="controls-container">
            <div class="row" style="margin:0;">
              <div class="col-6">
                <mat-form-field class="form-field w-100">
                  <input matInput placeholder="Nombre" formControlName="FirstName" type="text" autocomplete="off"
                    accept="FirstName" required>
                  <mat-error *ngIf="FormRegister.controls.FirstName.hasError('required')">
                    Su nombre es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="form-field w-100">
                  <input matInput placeholder="Apellido" formControlName="LastName" type="text" autocomplete="off"
                    accept="LastName" required>
                    <mat-error *ngIf="FormRegister.controls.LastName.hasError('required')">
                      Su Apellido es <strong>obligatorio</strong>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col">
              <mat-radio-group formControlName="Gender" class="form-field w-100">
                <mat-radio-button value="Male" name="Gender">Masculino</mat-radio-button>
                <mat-radio-button value="Female" name="Gender" style="margin: 0 20px;">Femenino</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col">
              <mat-form-field class="form-field w-100">
                <input matInput [matDatepicker]="dp" placeholder="Fecha de Nacimiento" formControlName="DOB">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="form-field w-100">
                <input matInput placeholder="Email" formControlName="Email" type="email" required>
                <mat-hint>{{EmailErrorMessage}}</mat-hint>
                <mat-error *ngIf="FormRegister.controls.Email.hasError('email')">
                  Por favor, Ingrese un correo electronico valido
                </mat-error>
                <mat-error *ngIf="FormRegister.controls.Email.hasError('required')">
                  Su correo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="form-field w-100">
                <input matInput placeholder="Contraseña" formControlName="Password" type="password" required>
                <mat-hint>{{PasswordErrorMessage}}</mat-hint>
                <mat-error *ngIf="FormRegister.controls.Password.hasError('required')">
                  Su contraseña es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div style="margin:0 0 15px 15px;">
            <button mat-raised-button [disabled]="!FormRegister.valid" type="submit" color="accent">
              <span *ngIf="!Loading">Registrarse</span>
              <span *ngIf="Loading" style="margin:0 19px;"><i class="fal fa-spinner fa-spin"></i></span>
            </button>
            <button [routerLink]="[ '/Auth/Login']" color="primary" mat-button>Ingresar</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>