.chat-list-container {
    /* height: 87vh; */
}

.chat-heads-container-mobile {
    height: calc(100vh - 202.5px);
    overflow: auto visible;
}

.chat-heads-container {
    height: calc(100vh - 209.5px);
    overflow: auto;
}

.chat-card-container {
    height: calc(100vh - 112px);
}

.messages-main-box {
    height: calc(100vh - 56px);
    background: rgb(230, 234, 234);
}

.chat-list-container-mobile {
    height: calc(100vh - 112px);
    padding: 0px 0px 0px 3px;
}

.chat-list-container h3, .chat-list-container-mobile h4 {
    margin: 0 0 2px 0;
}

.my-container {
    height: calc(100vh - 112px);
}
