<mat-toolbar class="toolbar" color="primary">
  <span mat-button [routerLink]="[ '/Home']" class="MousePointer">{{MyAuth.AppTitle}}</span>
  <span class="fill-remaining-space"></span>
  <span class="align-center"></span>
  <span class="spacer"></span>

  <ng-container *ngIf="!MyAuth.LoggedUserLoading && MyAuth.IsUserLoggedIn; else UserLoading">
    <button mat-icon-button [matMenuTriggerFor]="DropMessages">
      <i class="fal fa-comment"></i>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="DropFriendRequests">
      <i class="fal fa-user-circle"></i>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="DropNotifications">
      <i class="fal fa-bell"></i>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img class="btn-profile-menu" [src]="MyAuth.LoggedUser?.PhotoURL" alt="...">
    </button>

    <mat-menu #DropMessages="matMenu">
      <ng-template matMenuContent>
        <app-messages-dialog></app-messages-dialog>
      </ng-template>
    </mat-menu>

    <mat-menu #DropFriendRequests="matMenu" [overlapTrigger]="true">
      <ng-template matMenuContent>
        <app-friend-requests-dialog></app-friend-requests-dialog>
      </ng-template>
    </mat-menu>

    <mat-menu #DropNotifications="matMenu">
      <app-notifications-dialog></app-notifications-dialog>
    </mat-menu>

    <mat-menu #menu="matMenu">
      <h3 class="user-name">{{MyAuth.LoggedUser?.DisplayName}}</h3>
      <button mat-menu-item (click)="MyAuth.NavTo('User/'+MyAuth.LoggedUser?.Id)">
        <span><i class="fal fa-id-card"></i> View profile</span>
      </button>
      <button mat-menu-item (click)="openProfilePicUpdateDialog()">
        <span><i class="fal fa-edit"></i> Update profile pic</span>
      </button>
      <button mat-menu-item (click)="Logout()">
        <span><i class="fal fa-sign-out-alt"></i> Logout</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #UserLoading>
    <span *ngIf="MyAuth.IsUserLoggedIn"><i class="fal fa-spinner fa-spin"></i></span>
  </ng-template>
</mat-toolbar>
<!-- Add Content Here -->
<router-outlet></router-outlet>