  <div class="row user-box">
    <div class="col-3 user-pic-box MousePointer" (click)="MyAuth.NavTo('User/'+User.Id)">
      <img class="user-pic" src="{{User.PhotoURL}}">
    </div>
    <div class="col user-name-box">
      <span class="user-name MousePointer" (click)="MyAuth.NavTo('User/'+User.Id)">{{User.DisplayName}}</span>
      <br>
      <ng-container *ngIf="Following$ | async as Following; else FollowLoading">
        <ng-container *ngIf="Following.DocId; else NotFollowing">
          <button mat-stroked-button class="btn-action-mobile" color="primary" (click)="UnfollowThisUser()">
            <span><i class="fal fa-user-check"></i> Following</span>
          </button>
        </ng-container>
        <ng-template #NotFollowing>
          <button mat-stroked-button class="btn-action-mobile" (click)="FollowThisUser()" style="padding: 0 26px;">
            <span><i class="fal far fa-user-plus"></i> Follow</span>
          </button>
        </ng-template>
      </ng-container>
      <ng-template #FollowLoading>
        <button mat-stroked-button class="btn-action-mobile" disableRipple style="padding: 0 50px;">
          <i class="fal fa-spinner fa-spin"></i>
        </button>
      </ng-template>
    </div>
  </div>