.start-column {
    
}

.LoaderDiv {
    display:flex; 
    justify-content: center; 
    align-items: center;
    /* height: 100%; */
    padding: 20%
}

.posts-container {
   
}

.post {
    width: 65%;
}
.tab-title {
    margin-left: 5px;
}
.container-fluid{
    background: linear-gradient(#8b73ff, white);
}

::ng-deep .mat-menu-content{
    background-color:#8B73FF;
    color: #efefef;
  }
