<mat-list class="d-none d-md-block">
  <mat-list-item class="MousePointer" style="color:#5c4ca2" [routerLink]="[ '/Home']" routerLinkActive="active-route">
    <i class="fal fa-home" style="color: #c3ff73"></i>
    <span class="d-none d-lg-block" mat-line>Inicio</span>
  </mat-list-item>
  <mat-list-item class="MousePointer" style="color:#5c4ca2" [routerLink]="[ '/User', MyAuth.LoggedUser?.Id ]" routerLinkActive="active-route">
    <i class="fal fa-user" style="color: #c3ff73"></i>
    <span class="d-none d-lg-block" mat-line>Perfil</span>
  </mat-list-item>
  <mat-list-item class="MousePointer" style="color:#5c4ca2" [routerLink]="[ '/Messages']" routerLinkActive="active-route">
    <i class="fal fa-comment-alt-lines" style="color: #c3ff73"></i>
    <span class="d-none d-lg-block" mat-line>Mensajes</span>
  </mat-list-item>
  <mat-list-item class="MousePointer" style="color:#5c4ca2" [routerLink]="[ '/Search']" routerLinkActive="active-route">
    <i class="fal fa-search" style="color: #c3ff73"></i>
    <span class="d-none d-lg-block" mat-line>Buscar</span>
  </mat-list-item>
</mat-list>