<h1 mat-dialog-title>Update your profile picture</h1>
<form [formGroup]="UpdatePPForm" (submit)="OnSubmit()">
  <div mat-dialog-content>
    <input type="file" style="display:none;" formControlName="InputImage" accept="image/*" #InputFile
      (change)="onChange($event)" required>
    <mat-form-field>
      <input matInput formControlName="ProfileCaption" autofocus placeholder="Write a caption">
    </mat-form-field>
    <button mat-icon-button type="button" (click)="InputFile.click()">
      <i class="fal fa-paperclip fa-lg"></i>
    </button>
    <div>
      <img src="{{OutputImage.compressedImage.imageDataUrl}}" *ngIf="showImage" class="responsive-img" />
    </div>
  </div>
  <div mat-dialog-actions>
    <mat-progress-bar *ngIf="Uploading" mode="determinate" [value]="(uploadPercent$ | async)">
    </mat-progress-bar>
    <button mat-raised-button type="reset" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!UpdatePPForm.valid || !processingImageComplete"
      [attr.cdkFocusInitial]="processingImageComplete ? '' : null">Update</button>
  </div>
</form>