<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{MyAuth.LoggedUser?.PhotoURL}}">
    <mat-card-title (click)="MyAuth.NavTo('/User/'+MyAuth.LoggedUser?.Id)" class="MousePointer">
      {{MyAuth.LoggedUser?.DisplayName}}</mat-card-title>
    <mat-card-subtitle>{{MyAuth.LoggedUser?.About}}</mat-card-subtitle>
    <button mat-icon-button class="btn-menu" [matMenuTriggerFor]="menu" aria-label="Open basic menu">
      <i class="fal fa-ellipsis-v fa-lg"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openProfilePicUpdateDialog()">Update profile pic</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item (click)="MyAuth.Logout();">Logout</button>
    </mat-menu>
  </mat-card-header>
</mat-card>

<mat-card style="margin-top: 8px;">
  <mat-card-header>
    <mat-card-title (click)="MyAuth.NavTo('/Messages')" class="MousePointer">Messages</mat-card-title>
  </mat-card-header>
  <mat-card-content class="chat-heads-container">
    <app-messages-dialog></app-messages-dialog>
  </mat-card-content>
</mat-card>

<!-- <mat-card>
  <app-notifications-dialog></app-notifications-dialog>
</mat-card> -->